{% extends './base.html' %}

{% block title %} Minha Escala {%endblock%}


{% block content %}
<section class="container-fluid margin">
    <form  method="GET" class="form-inline my-2 my-lg-0">{% csrf_token %}
        <input class="form-control mr-sm-2 left" type="text" name="buscar" id="buscar" placeholder="Buscar por nome" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" id="btn-busca" type="submit">Buscar</button>
    </form>
</section>

<section class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Escala Geral</h1>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-dark text-center">
                    <thead>
                        <tr>
                            <th scope="col">DATA</th>
                            <th scope="col">EVENTO</th>
                            <th scope="col">RESPONSAVEL</th>
                            <th scope="col">FUNÇÃO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in escala %}
                        <tr>
                            <th scope="row">{{i.datas}}</th>
                            <td>{{i.get_evento}}</td>
                            <td>{{i.responsavel}}</td>
                            <td>{{i.get_funcao}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}