{% extends './base.html' %}

{% block title %} Minha Escala   {%endblock%}


{% block content %}
<section class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 text-center">  
                <h1>Minha Escala</h1>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">                
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">DATA</th>
                            <th scope="col">EVENTO</th>
                            <th scope="col">RESPONSAVEL</th>
                            <th scope="col">FUNÇÃO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in escala %}
                            <tr>
                                <th scope="row">{{i.datas}}</th>
                                <td>{{i.get_evento}}</td>
                                <td>{{i.responsavel}}</td>
                                <td>{{i.get_funcao}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}

